.fw-landing {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/background-sea.png');
    background-size: cover;
    background-position: center;
}

.popeye-title {
    rotate: -5deg;
    width: 1050px;
}

.popeye-title h2 {
    color: white;
}

.inner-landing {
    width: 100%;
    max-width: 1370px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inner-landing h2 {
    font-family: 'Popeye', sans-serif;
    margin: 0;
    rotate: -4deg;
    font-size: 45px;
    margin-top: -90px;
    margin-left: 40px;
    color: white;
    -webkit-text-stroke: 2px black;
}

.title-texts {
    margin-left: 250px;
    margin-bottom: 75px;
}

.bsc-logo {
    width: 40px;
}

.popeye {
    position: absolute;
    width: 550px;
    left: 130px;
    z-index: 2;
}

.lower-div {
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 1370px;
    width: 100%;
}

.next-button2 {
    font-family: 'Popeye', sans-serif;
    color: white;
    font-size: 25px;
    background: linear-gradient(to bottom, 
        #D42310 0%, 
        #D42310 50%, 
        #C21300 50%, 
        #C21300 100%);
    padding: 15px 20px;
    border: 3px solid black; 
}

.next-button2:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 0 #000;
    background: linear-gradient(to bottom, 
        #C21300 0%, 
        #C21300 50%, 
        #D42310 50%, 
        #D42310 100%);
    border: 3px solid black; 
}

@media (max-width: 1600px) {
    .popeye {
        position: absolute;
        width: 450px;
        left: 130px;
        z-index: 2;
        bottom: 50px;
    }
}

@media (max-width: 1570px) {
    .popeye-title {
        rotate: -5deg;
        width: 950px;
    }

    .inner-landing h2 {
        font-family: 'Popeye', sans-serif;
        margin: 0;
        rotate: -5deg;
        font-size: 40px;
        margin-top: -80px;
        margin-left: 40px;
        -webkit-text-stroke: 2px black;
    }

    .inner-landing {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1420px) {
    .popeye-title {
        rotate: -5deg;
        width: 850px;
    }

    .inner-landing h2 {
        font-family: 'Popeye', sans-serif;
        margin: 0;
        rotate: -5deg;
        font-size: 36px;
        margin-top: -70px;
        margin-left: 40px;
        -webkit-text-stroke: 2px black;
    }

    .inner-landing {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1350px) {
    .popeye-title {
        rotate: -5deg;
        width: 850px;
    }

    .inner-landing h2 {
        font-family: 'Popeye', sans-serif;
        margin: 0;
        rotate: -5deg;
        font-size: 36px;
        margin-top: -70px;
        margin-left: 40px;
        -webkit-text-stroke: 2px black;
    }

    .inner-landing {
        padding-left: 20px;
        padding-right: 20px;
    }

     .popeye {
        position: absolute;
        width: 450px;
        left: 30px;
        z-index: 2;
        bottom: 50px;
    }
}

@media (max-width: 1350px) {
    .popeye-title {
        rotate: -5deg;
        width: 650px;
    }

    .inner-landing h2 {
        font-family: 'Popeye', sans-serif;
        margin: 0;
        rotate: -5deg;
        font-size: 28px;
        margin-top: -50px;
        margin-left: 40px;
        -webkit-text-stroke: 2px black;
    }

    .inner-landing {
        padding-left: 20px;
        padding-right: 20px;
    }

     .popeye {
        position: absolute;
        width: 450px;
        left: 30px;
        z-index: 2;
        bottom: 50px;
    }

    .bsc-logo {
        width: 30px;
    }
}

@media (max-width: 1000px) {
    .popeye-title {
        rotate: -5deg;
        width: 550px;
    }

    .inner-landing h2 {
        font-family: 'Popeye', sans-serif;
        margin: 0;
        rotate: -5deg;
        font-size: 24px;
        margin-top: -50px;
        margin-left: 40px;
        -webkit-text-stroke: 2px black;
    }

    .inner-landing {
        padding-left: 20px;
        padding-right: 20px;
    }

     .popeye {
        position: absolute;
        width: 450px;
        left: 30px;
        z-index: 2;
        bottom: 50px;
    }

    .bsc-logo {
        width: 26px;
    }

    .next-button2 {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .popeye-title {
        rotate: -5deg;
        width: 550px;
    }

    .inner-landing h2 {
        margin-top: 0px;
        margin-left: 50px;
        margin-top: -50px;
        display: none;
    }

    .title-texts {
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 200px;
    }

     .popeye {
        position: absolute;
        width: 550px;
        left: 30px;
        z-index: 0;
        bottom: 50px;
    }

    .bsc-logo {
        width: 30px;
    }

    .lower-div {
        justify-content: start;
        align-items: start;
        margin-top: -20px;
    }

    .next-button2 {
        display: block;
        margin: 0 auto;
        rotate: -5deg;
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .popeye-title {
        rotate: -5deg;
        width: 450px;
    }

    .popeye {
        position: absolute;
        width: 450px;
        left: 30px;
        z-index: 0;
        bottom: 150px;
    }
}


@media (max-width: 490px) {
    .popeye-title {
        rotate: -5deg;
        width: 320px;
    }

    .popeye {
        position: absolute;
        width: 380px;
        left: 30px;
        z-index: 0;
        bottom: 120px;
    }
}

@media (max-width: 420px) {
    .popeye-title {
        rotate: -5deg;
        width: 300px;
        margin-top: -30px;
    }

    .popeye {
        position: absolute;
        width: 350px;
        left: 30px;
        z-index: 0;
        bottom: 100px;
    }

    .title-texts {
        margin-top: 180px;
    }

    .next-button2 {
        margin-top: -10px;
    }
}

@media (max-width: 380px) {
    .popeye-title {
        rotate: -5deg;
        width: 300px;
        
    }

    .popeye {
        position: absolute;
        width: 320px;
        left: 30px;
        z-index: 0;
        bottom: 80px;
    }

    .title-texts {
        margin-top: 180px;
    }

    .next-button2 {
        margin-top: -10px;
    }

}